*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  color: midnightblue;
}
 p{
  color: black;
 }
 #contenedor{
  display: flex;
  justify-content: end;
  gap: 35px ;
 }
 #interno1{
  margin-top: 20px;
  text-align: center;

  form{
    margin-top: 20px;
  }
 #input{
  height: 30px;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
 }
 }
 #divPalabra{
  text-align: center;
  width: 30%;
  h2{
    margin-top: 20px;
    font-size: 35px;
    color: midnightblue;
  }
 }
 li{
  width: 170px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 2px;
  font-size: 25px;
  list-style: none;
  color: white;
  background-color: rgb(104, 221, 15);
  border-radius: 10px;
  
 }
 .bot{
  background-color:midnightblue;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: greenyellow;
 }

 .sopa {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 2px;
    justify-content: center;
    margin-top: 20px;
}

.celda {
    width: 40px;
    height: 40px;
background-color: aliceblue;
    align-items: center;
border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}
.tablero{
  display: grid;
  grid-template-columns: repeat(10,40px);
  grid-template-columns: repeat(10,40px);
  justify-content: center;
}