*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  color: midnightblue;
}
 p{
  color: black;
 }
 #contenedor{
  display: flex;
  width: 600px;
  margin: 0 auto;

 }
 #divPalabra{
  width: 40%;
  h2{
    margin-top: 12px;
    font-size: 35px;
    color: midnightblue;
  }
 }
 li{
  width: 170px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-top: 2px;
  font-size: 25px;
  list-style: none;
  color: white;
  background-color: rgb(104, 221, 15);
  border-radius: 10px;
  
 }
 